<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755324536390-ovi75d7m4c1slmbm38rqsja23u82603o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755324536390-ovi75d7m4c1slmbm38rqsja23u82603o</string>
	<key>API_KEY</key>
	<string>AIzaSyAtHfF3jJ2isRhoc702rehlFFwSUyQ8c-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>755324536390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-300c3</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-300c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755324536390:ios:1682adbd2a990b279aec47</string>
</dict>
</plist>